 /*CSS for pop up hint box */

#hintbox{
	position:absolute;
	top: 0;
	background-color: lightyellow;
	padding: 0px;
	border:2px solid #808080;
	font-family: arial, sans-serif;
	font-size: 10px;
	line-height:14px;
	z-index:4000;
/*	border-right: 3px solid #808080; */
/*	border-bottom: 3px solid #808080;*/
	visibility: hidden;
	text-align: left;
	color: #656565;
}

.hintanchor{ /*CSS for link that shows hint onmouseover*/
	font-weight: bold;
	color: navy;
	margin: 3px 8px;
}

.hinticon {
	border: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px; 
	padding-top: 4px;
	position: relative; 
	top: 4px;
}