@CHARSET "UTF-8";

.template_table {
	margin:8px 0px;
}
	.tableviewer {
		margin:0px;
		-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  		-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  		box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	}

	.template_table .template_table_filter {
		margin:0px;
		border:1px solid #a4a4a4;
		-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  		-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  		box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	}
	
		.template_table .template_table_filter form {
			display:block;
			margin:0px;
			padding:0px;
		}
		
			.template_table .template_table_filter form label {
				margin:8px 0px 8px 8px;
			}
			
			.template_table .template_table_filter form input, .template_table .template_table_filter form select {
				margin:8px 0px 8px 0px;
			}
			
			.template_table .template_table_filter form input.button {
				margin:7px 8px auto 8px;
			}
			
	.template_table table {
		border-collapse:collapse;
		border-spacing:0px;
		margin:8px 0px;
		text-align:center;
		border:1px solid #a4a4a4;
		-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  		-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  		box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	}
	
		.template_table table tr th {
			border:1px solid #a4a4a4;
			background-color:#ededed;
			background:-moz-linear-gradient(top, #ddd 0%, #eee 100%);
			background:-webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
			padding:6px 5px;
			font-size:bold;
		}
		
		.template_table table tr td {
			border:1px solid #a4a4a4;
			background-color:white;
			padding:4px 5px;
		}
		
		.template_table table tr.even td {
			background-color:#f6f6ff;
		}
	
	.template_table .template_table_paging {
	}
	
		.template_table .template_table_paging .template_table_paging_positions {
			margin:0px;
			padding:0px;
			display:block;
			float:left;
		}
		
		.template_table .template_table_paging .template_table_paging_pages {
			margin:0px;
			padding:0px;
			display:block;
			float:right;
		}
	

/* .template_table table tr.agreementStatus_CREATED td { */
/* 	background-color:#CDCDBF; */
/* } */

.template_table table tr.agreementStatus_VERIFIED td {
	background-color:#FFE375;
}
.template_table table tr.agreementStatus_SIGNED td {
	background-color:#335CD6;
	color: white;
}
.template_table table tr.agreementStatus_NOT_SIGNED td {
	background-color:#A31919;
	color: white;
}
.template_table table tr.agreementStatus_SETTLED td {
	background-color:#40C440;
	color: white;
}