@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	color: #446;
}

body, p, ul, td, th, h1, h2, h3, span, div, input, select, legend, label,
	textarea {
	font-family: arial, sans-serif;
	font-size: 11px;
	color: #444;
}

p, h1, h2, h3 {
	margin: 8px 0px;
	padding: 0px;
}

h1 {
	font-size: 16px;
	color: black;
}

h2 {
	font-size: 13px;
	color: black;
}

h3 {
	font-size: 12px;
	color: black;
}

a, a:visited, a:active {
	cursor: pointer;
	color: #0e5e83;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

img {
	border: none;
}

div.clear {
	clear: both;
}

form {
	margin: 0px;
	padding: 0px;
}

.error {
	color: red;
}

input.button {
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	background-color: #588fa8;
	color: white;
	margin: 5px;
	width: auto;
	padding: 0px 10px;
	height: 22px;
	cursor: pointer;
}

div.upload {
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	background-color: #588fa8;
	color: white;
	margin: 5px;
	width: auto;
	padding: 0px 10px;
	height: 22px;
	cursor: pointer;
}

div.upload input {
	display: block !important;
	width: 157px !important;
	opacity: 0 !important;
	overflow: hidden !important;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	background-color: #588fa8;
	color: white;
	margin: 5px;
	width: auto;
	padding: 0px 10px;
	height: 22px;
	cursor: pointer;
}

a.link_button, a.link_button:visited, a.link_button:active {
	display: block;
	float: left;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	background-color: #588fa8;
	color: white;
	margin: 2px;
	width: auto;
	padding: 3px 7px;
	cursor: pointer;
}

a.link_button:hover {
	background-color: #2c6782;
	text-decoration: none;
}

a.link_button_disabled, a.link_button_disabled:visited, a.link_button_disabled:active {
	display: block;
	float: left;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	background-color: #ddd;
	color: #444;
	margin: 2px;
	width: auto;
	padding: 3px 7px;
	cursor: text;
}

a.link_button_disabled:hover {
	background-color: #ddd;
	text-decoration: none;
}


a.link_notWorking_button, a.link_notWorking_button:visited, a.link_notWorking_button:active {
	background-color: #961919;
	width: 175px;
	height: 35px;
	padding: 4px;
	padding-top: 15px;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
}

a.link_notWorking_button:hover {
	background-color: #B36C6C;
}



a.link_working_button, a.link_working_button:visited, a.link_working_button:active {
	background-color: #006600;
	width: 175px;
	height: 35px;
	padding: 4px;
	padding-top: 15px;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
}

a.link_working_button:hover {
	background-color: #00A300;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input.button.main {
	font-weight: bold;
	background-color: #588fa8;
}

input.button.disabled {
	background-color: #888;
}

.template_all {
	
}

.template_all .template_header {
	-moz-box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.template_all .template_header .template_header_login_box {
	position: absolute;
	right: 10px;
	top: 0px;
	width: 280px;
	margin: 0px;
	padding: 0px;
	border: 1px solid #a4a4a4;
	background-color: #ededed;
	background: -moz-linear-gradient(top, #ffffff 0%, #e4e4e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#e4e4e4));
	border-top: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.template_all .template_header .template_header_login_box .template_header_login_box_error
	{
	color: red;
	margin: 3px 6px 1px 10px;
}

.template_all .template_header .template_header_login_box form.template_header_login_box_login_form
	{
	position: relative;
	width: 130px;
	height: 60px;
}

.template_all .template_header .template_header_login_box form.template_header_login_box_logged_form
	{
	position: relative;
	margin: 0px;
	padding: 0px;
	width: 230px;
	height: 35px;
}

.template_all .template_header .template_header_login_box form .template_header_login_box_logged_info
	{
	margin: 0px;
	display: block;
	position: absolute;
	left: 10px;
	top: 11px;
}

.template_all .template_header .template_header_login_box form .template_header_login_box_login_label
	{
	display: block;
	position: absolute;
	top: 9px;
	left: 10px;
}

.template_all .template_header .template_header_login_box form .template_header_login_box_login_field
	{
	position: absolute;
	margin: 0px;
	padding: 2px;
	top: 5px;
	left: 45px;
	width: 100px;
}

.template_all .template_header .template_header_login_box form .template_header_login_box_password_label
	{
	display: block;
	position: absolute;
	top: 36px;
	left: 10px;
}

.template_all .template_header .template_header_login_box form .template_header_login_box_password_field
	{
	position: absolute;
	margin: 0px;
	padding: 2px;
	top: 32px;
	left: 45px;
	width: 100px;
}

.template_all .template_header .template_header_login_box form .template_header_login_box_login_submit
	{
	position: absolute;
	margin: 0px;
	top: 32px;
	left: 160px;
	width: 60px;
}

.template_all .template_header .template_header_login_box form .template_header_login_box_logout_submit
	{
	position: absolute;
	margin: 0px;
	top: 6px;
	left: 210px;
	width: 60px;
}

.template_all .template_header .template_header_login_box a.template_header_login_box_register_link
	{
	cursor: pointer;
	display: block;
	float: left;
	position: relative;
	margin: 0px auto 5px 45px;
}

.template_all .template_header .template_header_login_box a.template_header_login_box_remind_link
	{
	cursor: pointer;
	display: block;
	float: left;
	position: relative;
	margin: 0px 10px 5px 20px;
}

.template_all .template_header .template_title_bar {
	background-color: white;
}

.template_all .template_header .template_title_bar .easycall_logo {
	display: block;
	float: left;
	margin: 10px;
	margin-right: 0px;
	padding-right: 10px;
	border-right: 1px solid #a4a4a4;
}

.template_all .template_header .template_title_bar .client_logo {
	display: block;
	float: left;
	margin: 10px;
	margin-right: 0px;
	padding-right: 10px;
	border-right: 1px solid #a4a4a4;
}

.template_all .template_header .template_title_bar .system_logo {
	display: block;
	float: left;
	margin: 10px;
}

.template_all .template_header .template_top_menu_bar {
	background-color: #ededed;
	background: -moz-linear-gradient(top, #f4f8fa 0%, #c6d5dd 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f8fa),
		to(#c6d5dd));
	border-top: 1px solid #a4bdca;
	border-bottom: 1px solid #76a5bb;
}

.template_all .template_header .template_top_menu_bar ul {
	display: block;
	float: left;
	margin: auto;
	padding: 0px;
}

.template_all .template_header .template_top_menu_bar ul li {
	display: block;
	float: left;
	margin: auto;
	padding: 0px;
}

.template_all .template_header .template_top_menu_bar ul li a {
	display: block;
	margin: 3px 2px;
	padding: 4px 8px;
	border: 1px solid transparent;
	text-decoration: none;
	font-size: 12px;
	color: black;
}

.template_all .template_header .template_top_menu_bar ul li a:hover {
	border: 1px solid #c5d2d9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ffffff;
}

.template_all .template_header .template_top_menu_bar ul li.disabled {
	
}

.template_all .template_header .template_top_menu_bar ul li.disabled span
	{
	display: block;
	margin: 3px 2px;
	padding: 4px 8px;
	border: 1px solid transparent;
	text-decoration: none;
	font-size: 12px;
	color: #777;
}

.template_all .template_header .template_top_menu_bar ul li.selected {
	
}

.template_all .template_header .template_top_menu_bar ul li.selected span
	{
	display: block;
	margin: 0px 2px;
	padding: 7px 8px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: black;
	border: 1px solid white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: white;
}

.template_all .template_left {
	width: 180px;
	margin: 0px 0px 20px 0px;
	float: left;
	border-right: 1px solid #a4a4a4;
	border-bottom: 1px solid #a4a4a4;
	background-color: #ededed;
	background: -moz-linear-gradient(left, #ffffff 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, right top, from(#ffffff),
		to(#f5f5f5));
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
}

.template_all .template_left .template_left_search_bar {
	margin: 10px 0px 10px 10px;
	border: none;
}

.template_all .template_left .template_left_search_bar input.template_left_search_bar_search_field
	{
	width: 99px;
	margin: 0px;
	padding: 2px;
}

.template_all .template_left .template_left_search_bar input.template_left_search_bar_search_button
	{
	width: 50px;
	margin: 0px;
}

.template_all .template_left .template_left_menu_bar {
	margin: 10px;
	border: 1px solid #588fa8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ffffff;
	text-align: center;
}

.template_all .template_left .template_left_menu_bar p.template_left_menu_bar_title
	{
	margin: 0px;
	padding: 4px 10px;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #588fa8;
}

.template_all .template_left .template_left_menu_bar ul {
	display: block;
	margin: auto;
	padding: 0px;
	list-style: none;
}

.template_all .template_left .template_left_menu_bar ul li {
	display: block;
	margin: auto;
	text-align: right;
	padding: 0px;
}

.template_all .template_left .template_left_menu_bar ul li a {
	display: block;
	margin: 1px 0px;
	padding: 4px 8px 4px 4px;
	border: 1px solid transparent;
	text-decoration: none;
	font-size: 11px;
	color: black;
}

.template_all .template_left .template_left_menu_bar ul li a:hover {
	background-color: #efefef;
}

.template_all .template_left .template_left_menu_bar ul li.disabled {
	
}

.template_all .template_left .template_left_menu_bar ul li.disabled span
	{
	display: block;
	margin: 1px 0px;
	padding: 4px 8px 4px 4px;
	border: 1px solid transparent;
	text-decoration: none;
	font-size: 11px;
	color: #a4a4a4;
}

.template_all .template_left .template_left_menu_bar ul li.selected {
	
}

.template_all .template_left .template_left_menu_bar ul li.selected span
	{
	display: block;
	margin: 1px 0px;
	padding: 4px 8px 4px 4px;
	border: 1px solid transparent;
	text-decoration: none;
	font-size: 11px;
	color: black;
	font-weight: bold;
	background-color: #efefef;
}

.template_all .template_center {
	float: left;
	margin: 10px 20px;
	padding: 0px;
}

.template_all .template_center .template_center_breadcrumbs {
	
}

.template_all .template_center .template_center_breadcrumbs a {
	text-decoration: none;
}

.template_all .template_center .template_center_breadcrumbs a:hover {
	text-decoration: underline;
}

.template_all .template_footer {
	height: 28px;
	border-top: 1px solid #bbb;
	background-color: #ffffff;
	background: -moz-linear-gradient(top, #efefef 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef),
		to(#ffffff));
}

.template_all .template_footer_left {
	float: left;
	margin: 7px 10px;
	font-size: 11px;
	color: #777;
}

.template_all .template_footer_right {
	float: right;
	margin: 7px 10px;
	font-size: 11px;
	color: #777;
}

.errorMessage {
	color: red;
	background-color: yellow;
	font-weight: bold;
	height: 32px;
	font-size: 12pt;
}

.actionMessage {
	color: #000000;
	background-color: yellow;
	font-weight: bold;
	height: 32px;
	font-size: 12pt;
}

.SPRING-INFO, .SPRING-SUCCESS, .SPRING-WARNING, .SPRING-ERROR,
	.SPRING-VALIDATION {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
	font-size: 13px;
}

.SPRING-INFO {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('images/info.png');
}

.SPRING-SUCCESS {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('images/success.png');
}

.SPRING-WARNING {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('images/warning.png');
}

.SPRING-ERROR {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('images/error.png');
}

.SPRING-VALIDATION {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('images/validation.png');
}

.hide {
	display: none;
}

.sticky {
  -webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: #F4F39E;
  border-color: #DEE184;
  text-align: center;
  margin: 2.5em 0px;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  font-family: Chalkboard, 'Comic Sans';
  float: right;
  width: 90%;
}
.sticky.taped:after {
  display: block;
  content: "";
  position: absolute; 
  width: 151px;
  height: 35px;
  top: -21px;
  left: 25%;    
  background: transparent url('images/tape.png') 0 0 no-repeat;
}



.view_value {
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #444;
	padding-left: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
}


.confirmMessage {
margin: 0;
padding: 0;
font-size: .8em;
}