@CHARSET "UTF-8";

.template_form {
	margin:8px 0px;
}

	.template_form form {
		margin:8px 0px;
		padding:0px 0px;
		text-align:center;
		background-color: #f9f9f9;
		border: 1px solid #a4a4a4;
		-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  		-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  		box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius:4px;
		
	}
	
		.template_form .template_form_global_error {
			text-align:left;
			color:red;
			font-weight:bold;
			margin:10px 15px;
		}
	
		.template_form form fieldset {
			border-top:1px solid #dedede;
			border-left:0;
			border-bottom:0;
			border-right:0;
			padding:0px;
			margin:10px 15px;
		}
		
			.template_form form fieldset legend {
				text-align:left;
				text-align:left;
				font-weight:bold;
				padding:0px 8px 0px 0px;
				margin:0px;
			}
		
		.template_form .template_form_field {
			text-align:left;
			position:relative;
			padding:0px;
			margin:10px 15px;
		}
		
			.template_form .template_form_field label {				
				display:block;
				text-align:right;
				float:left;
				width:250px;
				margin:4px 10px 0px 0px;
			}
			
			.template_form .template_form_field input {
				text-align:left;
				width:250px;
				padding:2px;
				margin:0px;
			}				
			
			.template_form .template_form_field textarea {
				text-align:left;
				width:250px;
				height:50px;
				padding:2px;
				margin:0px;
			}
			
			.template_form .template_form_field select {
				text-align:left;
				width:258px;
				padding:2px;
				margin:0px;
			}
			
			.template_form .template_form_field .hint {
				text-align:left;
				width:250px;
				display:block;
				margin:0px 0px 0px 260px;
				color:#aaa;
			}
			
			.template_form .template_form_field .error {
				text-align:left;
				width:200px;
				display:block;
				margin:0px 0px 0px 260px;
				color:red;
			}
			
		.template_form .template_form_field.radio {
			text-align:left;
			position:relative;
			padding:0px;
			margin:8px 15px 8px 274px;
		}
		
			.template_form .template_form_field.radio label {	
				display:inline;
				float:none;			
				width:auto;
				padding:0px;
				line-height:19px;				
				vertical-align:middle;
				margin:0px 10px 0px 0px;
			}
		
			.template_form .template_form_field.radio input {
				text-align:left;
				width:auto;
				padding:2px;
				line-height:19px;
				vertical-align:middle;
				margin:0px 4px 0px 0px;
			}
			
			.template_form .template_form_field.radio .hint {
				text-align:left;
				width:250px;
				display:block;
				margin:0px 10px 0px 0px;
				color:#aaa;
			}
		
		.template_form .required_info {
			text-align:left;
			margin:10px;
		}
		
		.template_form .required {
			font-size:14px;
			color:black;
		}