/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.7.0
*/
html {
	color: #000;
	background: #FFF;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style: inherit;
	font-weight: inherit;
}

del,ins {
	text-decoration: none;
}

li {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

legend {
	color: #000;
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

input,button,textarea,select {
	*font-size: 100%;
}

body {
	font: 13px/1.231 arial, helvetica, clean, sans-serif;
	*font-size: small;
	*font: x-small;
}

select,input,button,textarea,button {
	font: 99% arial, helvetica, clean, sans-serif;
}

table {
	font-size: inherit;
	font: 100%;
}

pre,code,kbd,samp,tt {
	font-family: monospace;
	*font-size: 108%;
	line-height: 100%;
}

body {
	text-align: center;
}

#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7
	{
	margin: auto;
	text-align: left;
	width: 57.69em;
	*width: 56.25em;
}

#doc2 {
	width: 73.076em;
	*width: 71.25em;
}

#doc3 {
	margin: auto 10px;
	width: auto;
}

#doc4 {
	width: 1014px;
}

.yui-b {
	position: relative;
}

.yui-b {
	_position: static;
}

#yui-main .yui-b {
	position: static;
}

#yui-main,.yui-g .yui-u .yui-g {
	width: 100%;
}

.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main {
	float: right;
	margin-left: -25em;
}

.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main {
	float: left;
	margin-right: -25em;
}

.yui-t1 .yui-b {
	float: left;
	width: 12.30769em;
	*width: 12.00em;
}

.yui-t1 #yui-main .yui-b {
	margin-left: 13.30769em;
	*margin-left: 13.05em;
}

.yui-t2 .yui-b {
	float: left;
	width: 13.8461em;
	*width: 13.50em;
}

.yui-t2 #yui-main .yui-b {
	margin-left: 14.8461em;
	*margin-left: 14.55em;
}

.yui-t3 .yui-b {
	float: left;
	width: 23.0769em;
	*width: 22.50em;
}

.yui-t3 #yui-main .yui-b {
	margin-left: 24.0769em;
	*margin-left: 23.62em;
}

.yui-t4 .yui-b {
	float: right;
	width: 13.8456em;
	*width: 13.50em;
}

.yui-t4 #yui-main .yui-b {
	margin-right: 14.8456em;
	*margin-right: 14.55em;
}

.yui-t5 .yui-b {
	float: right;
	width: 18.4615em;
	*width: 18.00em;
}

.yui-t5 #yui-main .yui-b {
	margin-right: 19.4615em;
	*margin-right: 19.125em;
}

.yui-t6 .yui-b {
	float: right;
	width: 23.0769em;
	*width: 22.50em;
}

.yui-t6 #yui-main .yui-b {
	margin-right: 24.0769em;
	*margin-right: 23.62em;
}

.yui-t7 #yui-main .yui-b {
	display: block;
	margin: 0 0 1em 0;
}

#yui-main .yui-b {
	float: none;
	width: auto;
}

.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u
	{
	float: left;
}

.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf,.yui-gc .yui-u,.yui-gd .yui-g,.yui-g .yui-gc .yui-u,.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf .yui-g,.yui-gf .yui-u
	{
	float: right;
}

.yui-g div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first,.yui-g .yui-gc div.first,.yui-g .yui-ge div.first,.yui-gc div.first div.first
	{
	
}

.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf
	{
	width: 49.1%;
}

.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u
	{
	width: 32%;
	margin-left: 1.99%;
}

.yui-gb .yui-u {
	*margin-left: 1.9%;
	*width: 31.9%;
}

.yui-gc div.first,.yui-gd .yui-u {
	width: 66%;
}

.yui-gd div.first {
	width: 32%;
}

.yui-ge div.first,.yui-gf .yui-u {
	width: 74.2%;
}

.yui-ge .yui-u,.yui-gf div.first {
	width: 24%;
}

.yui-g .yui-gb div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first
	{
	margin-left: 0;
}

.yui-g .yui-g .yui-u,.yui-gb .yui-g .yui-u,.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u,.yui-ge .yui-g .yui-u,.yui-gf .yui-g .yui-u
	{
	width: 49%;
	*width: 48.1%;
	*margin-left: 0;
}

.yui-g .yui-g .yui-u {
	width: 48.1%;
}

.yui-g .yui-gb div.first,.yui-gb .yui-gb div.first {
	*margin-right: 0;
	*width: 32%;
	_width: 31.7%;
}

.yui-g .yui-gc div.first,.yui-gd .yui-g {
	width: 66%;
}

.yui-gb .yui-g div.first {
	*margin-right: 4%;
	_margin-right: 1.3%;
}

.yui-gb .yui-gc div.first,.yui-gb .yui-gd div.first {
	*margin-right: 0;
}

.yui-gb .yui-gb .yui-u,.yui-gb .yui-gc .yui-u {
	*margin-left: 1.8%;
	_margin-left: 4%;
}

.yui-g .yui-gb .yui-u {
	_margin-left: 1.0%;
}

.yui-gb .yui-gd .yui-u {
	*width: 66%;
	_width: 61.2%;
}

.yui-gb .yui-gd div.first {
	*width: 31%;
	_width: 29.5%;
}

.yui-g .yui-gc .yui-u,.yui-gb .yui-gc .yui-u {
	width: 32%;
	_float: right;
	margin-right: 0;
	_margin-left: 0;
}

.yui-gb .yui-gc div.first {
	width: 66%;
	*float: left;
	*margin-left: 0;
}

.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf .yui-u {
	margin: 0;
}

.yui-gb .yui-gb .yui-u {
	_margin-left: .7%;
}

.yui-gb .yui-g div.first,.yui-gb .yui-gb div.first {
	*margin-left: 0;
}

.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u {
	*width: 48.1%;
	*margin-left: 0;
}

.yui-gb .yui-gd div.first {
	width: 32%;
}

.yui-g .yui-gd div.first {
	_width: 29.9%;
}

.yui-ge .yui-g {
	width: 24%;
}

.yui-gf .yui-g {
	width: 74.2%;
}

.yui-gb .yui-ge div.yui-u,.yui-gb .yui-gf div.yui-u {
	float: right;
}

.yui-gb .yui-ge div.first,.yui-gb .yui-gf div.first {
	float: left;
}

.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf div.first {
	*width: 24%;
	_width: 20%;
}

.yui-gb .yui-ge div.first,.yui-gb .yui-gf .yui-u {
	*width: 73.5%;
	_width: 65.5%;
}

.yui-ge div.first .yui-gd .yui-u {
	width: 65%;
}

.yui-ge div.first .yui-gd div.first {
	width: 32%;
}

#hd:after,#bd:after,#ft:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after
	{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#hd,#bd,#ft,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf {
	zoom: 1;
}

/*Main Styles*/
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#doc4 {
	padding-bottom: 10px;
	background-color: #fff;
	cursor: default;
}

#hd {
	position: relative;
	padding: 0 10px;
}

#bd {
	background-color: #fff;
	padding-top: 10px;
}

#ft {
	padding: 8px 10px;
	margin: 0 10px;
	color: #000;
	border: 1px solid #D9D9D9;
	background: url("/static/gfx/background/right_col_box.png") repeat-x
		scroll center top transparent;
}
/* Root Elems - Containers */
#ks_v1_con {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px auto;
	overflow: hidden;
	width: 100%;
	background-color: #fff;
}

#ks_v1_con_holder {
	float: left;
	width: 100%;
	position: relative
}

#ks_v1_con_sub_left {
	padding: 0 0 10px 10px;
	float: left;
	margin: 0px;
	width: 200px;
}

#ks_v1_con_sub_center {
	padding: 0 0 10px 10px;
	float: left;
	margin: 0px;
	width: 474px;
}

#ks_v1_con_sub_right_center {
	padding: 0 0 10px 10px;
	float: left;
	margin: 0px;
	width: 784px;
}

#ks_v1_con_sub_right {
	padding: 0 5px 10px 10px;
	float: left;
	margin: 0px;
	width: 300px;
}

#ks_v1_con_sub_left_center {
	padding: 0 0 10px 10px;
	float: left;
	margin: 0px;
	width: 644px;
}

#ks_v1_con_sub_all {
	padding-left: 10px;
	padding-right: 10px
}

#ks_v1_mt {
	float: left;
	position: relative;
	left: 10px;
	width: 784px;
	overflow: hidden
}

#ks_v1_mt_bootom {
	float: right;
	width: 804px;
	padding-top: 20px;
}
/* kasuj */
#asp {
	padding-bottom: 25px;
	padding-top: 25px
}

.clear {
	clear: both;
	line-height: 0;
	padding: 0;
	margin: 0;
}

a:hover {
	text-decoration: underline
}

a {
	text-decoration: none;
	color: #186F9C
}

strong {
	font-weight: bold
}

#thanks {
	margin: 20px 0;
	height: 108px;
	padding: 15px;
	text-align: center;
	background: url('/static/gfx/background/thanks.png') repeat-x 0 0;
}

#thanks p {
	font-size: 14px;
	line-height: 140%;
	color: #fff;
}

#thanks p a {
	display: block;
	color: #8EDBFF;
	font-weight: bold;
}

#thanks .dl_button {
	text-transform: none;
	margin-top: 15px;
}

.getresponse {
	margin-top: 20px;
}

#ksplus_popup {
	width: 400px;
	height: 550px;
	position: relative;
}

#ksplus_popup .code {
	position: absolute;
	bottom: 80px;
	font-family: Arial Black;
	font-weight: bold;
	text-align: center;
	width: 400px;
	font-size: 28px;
}

#ksplus_popup a {
	position: absolute;
	width: 163px;
	height: 39px;
	bottom: 18px;
	left: 19px;
}

/*Member profile multi form - mpmf*/
#register {
	padding-top: 20px;
	position: relative;
	top: -20px;
	background: url('/static/gfx/newsletter/envelope.png') no-repeat right
		-10px;
}

#register .lead {
	padding-right: 170px;
}

#register .success_info,#register .error_info {
	width: 50%;
}

#mpmf {
	margin-bottom: 20px;
}

#mpmf table {
	width: 100%;
}

#mpmf h1 {
	border-bottom: 2px solid #55B73E;
	color: #444444;
	font-size: 21px;
	font-weight: bold;
	padding-bottom: 3px;
	margin-bottom: 10px;
}

#mpmf .lead {
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

#mpmf .summary {
	color: red;
}

#mpmf .summary .label {
	color: red !important;
}

#mpmf .summary ul {
	margin-left: 30px;
}

#mpmf .summary ul,#mpmf .summary li {
	list-style: disc outside none;
	font-size: 13px;
	margin-top: 2px
}

#mpmf .summary ul {
	margin-bottom: 10px
}

#mpmf .summary li {
	margin-bottom: 6px
}

#mpmf label {
	color: #333333;
	display: block;
	font-weight: bold;
	padding-bottom: 5px;
	cursor: pointer;
}

#mpmf label.with_info span {
	padding-right: 20px;
	background: url("/static/gfx/icons/information.png") no-repeat scroll
		right top transparent;
}

.tooltip {
	background-color: #151515;
	border: 1px solid #FFFFFF;
	box-shadow: 0 0 10px #000000;
	color: #FFFFFF;
	display: none;
	font-size: 12px;
	padding: 5px;
	text-align: left;
	width: 350px;
	z-index: 10000;
	line-height: 140%;
}

#mpmf .textbox {
	border: 1px solid #D9D9D9;
	padding: 4px 3px;
	width: 300px;
}

#mpmf .checkbox label {
	padding-left: 5px;
	font-style: italic;
	display: inline;
	font-size: 12px;
	line-height: 140%;
	font-weight: normal;
}

#mpmf .combobox {
	border: 1px solid #d9d9d9;
	padding: 3px;
}

#mpmf td {
	padding: 8px 5px 8px 0;
	vertical-align: top;
}

#mpmf .asterisk {
	color: Red;
}

.validator {
	color: Red;
}

#mpmf .gravatar {
	padding-bottom: 20px;
}

#mpmf .gravatar img {
	float: left;
	padding-right: 10px;
}

#mpmf .gravatar .link {
	display: block;
	margin-bottom: 5px;
}

#mpmf .gravatar .dl_button {
	margin-top: 30px;
}

#mpmf .free_sms_code {
	color: #333333;
	margin-top: 10px;
}

#mpmf .code {
	font-weight: bold;
}

#mpmf .tabs {
	border-bottom: 1px solid #363838;
	margin-top: 20px;
}

#mpmf .tabs ul {
	display: inline-block;
	border-right: 1px solid #363838;
	border-top: 1px solid #363838;
}

#mpmf .tabs ul li {
	border-left: 1px solid #363838;
	float: left;
	padding: 0;
}

#mpmf .tabs li span {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 21px;
	padding: 4px 10px 0;
	text-decoration: none;
	background: url("/static/gfx/menu/menu.png") repeat-x scroll 0 0 #fff;
}

#mpmf .tabs li span.bonus {
	background-position: 0 -41px;
}

#mpmf .tabs li.current span {
	border-bottom: 1px solid #FFFFFF;
	padding-top: 3px;
	position: relative;
	top: 1px;
	z-index: 10;
	background-image: none;
	color: #000;
}

#mpmf .tabs .current .bonus {
	color: #1a77a7;
}

#mpmf .panes_holder {
	border: 1px solid #363838;
	padding: 15px;
	border-top-width: 0;
}

#profile .dl_button {
	margin-top: 10px;
}

#mpmf .additional_data .outer td {
	padding: 0;
}

#mpmf .additional_data .inner td {
	padding: 8px 5px;
}

#mpmf .info {
	color: #333;
	display: block;
	line-height: 140%;
}

#mpmf .small_info {
	font-size: 11px;
	color: #333;
	display: block;
	margin-top: 10px;
}

#additional_data .dl_button {
	margin: 0;
}

/*Login overlay*/
#login_overlay,#mail_overlay,#message_overlay {
	z-index: 100001;
	display: none;
	background-color: #fff;
	border: 1px solid #666;
	text-align: left;
	padding: 10px 15px 10px 20px;
	-moz-box-shadow: 0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
}

#mail_overlay {
	width: 420px;
}

#login_overlay .close,#mail_overlay .close,#message_overlay .close {
	background-image: url('/static/gfx/icons/close.png');
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

#login_overlay h1,#mail_overlay h1,#message_overlay h1 {
	margin-bottom: 5px;
	border-bottom: 2px solid #55B73E;
	color: #444444;
	font-size: 21px;
	font-weight: bold;
	padding-bottom: 3px;
}

#login_overlay h2 {
	margin: 15px 0 10px;
	color: #BD0F00;
}

#login_overlay label,#mail_overlay label,#message_overlay label {
	color: #333333;
	display: block;
	font-weight: bold;
	padding-bottom: 5px;
	cursor: pointer;
}

#login_overlay .textbox,#mail_overlay .textbox {
	border: 1px solid #D9D9D9;
	padding: 4px 3px;
	width: 300px;
}

#login_overlay td,#mail_overlay td {
	padding: 8px 5px 8px 0;
	vertical-align: top;
}

#mail_overlay p,#message_overlay p {
	line-height: 160%;
}

#mail_overlay .textarea {
	height: 100px;
	padding: 3px;
	width: 300px;
	border: solid 1px #d9d9d9;
	overflow-x: hidden;
}

/*Captcha*/
#captcha {
	width: 550px;
}

#captcha table {
	padding: 0 !important;
	margin: 0 !important;
	width: 550px !important;
}

#captcha td {
	padding: 8px 5px 8px 0;
}

#captcha .captcha_refresh {
	display: block;
	margin-bottom: 5px;
	margin-top: 17px;
}

#captcha img {
	border: 1px solid #D9D9D9;
	height: 50px;
	width: 150px;
}

#captcha .dl_button {
	margin-top: 7px !important;
}

/*Comments list*/
#comments_holder {
	left: -210px;
	position: relative;
	width: 684px;
}

.comments {
	margin-bottom: 20px;
}

.comments h5 {
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 2px solid #55B73E;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 3px;
	color: #444444;
}

.comments .i p {
	background-color: #f4f4f4;
	overflow: hidden;
	margin: 0 !important;
}

.comments .i.alt {
	margin-bottom: 15px;
	margin-top: 15px;
}

.comments .i.alt p {
	background-color: #fff;
}

.comments img {
	float: left;
}

.comments .top {
	margin: 20px 0 3px 0;
	text-align: right;
	font-size: 11px;
}

.comments .top.voted label {
	display: none;
}

.comments .top.voted span {
	cursor: default;
}

.comments .top .p {
	margin-left: 5px;
	padding-left: 15px;
	background-image: url("/static/gfx/icons/plus_minus.png");
	background-position: 0 1px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.comments .top .m {
	padding-left: 15px;
	background-image: url("/static/gfx/icons/plus_minus.png");
	background-position: 0 -16px;
	background-repeat: no-repeat;
	cursor: pointer;
}

.comments p {
	border: 1px solid #D9D9D9;
	float: right;
	min-height: 30px;
	padding: 5px 8px 8px;
	width: 596px;
	overflow: hidden;
	word-wrap: break-word;
}

.comments p.hidden {
	display: none;
}

.comments .b {
	float: right;
	font-size: 11px;
	position: relative;
	top: -1px;
	width: 614px;
}

.comments .r {
	padding-left: 280px;
}

.comments .r p {
	width: 316px;
}

.comments .r .b {
	width: 334px;
}

.comments .r.l_2 {
	padding-left: 70px;
}

.comments .r.l_2 p {
	width: 526px;
}

.comments .r.l_2 .b {
	width: 544px;
}

.comments .r.l_3 {
	padding-left: 140px;
}

.comments .r.l_3 p {
	width: 456px;
}

.comments .r.l_3 .b {
	width: 474px;
}

.comments .r.l_4 {
	padding-left: 210px;
}

.comments .r.l_4 p {
	width: 386px;
}

.comments .r.l_4 .b {
	width: 404px;
}

.comments .r.l_5 {
	padding-left: 280px;
}

.comments .r.l_5 p {
	width: 316px;
}

.comments .r.l_5 .b {
	width: 334px;
}

.comments span.a {
	background-image: url("/static/gfx/background/bubble.png");
	background-position: right -28px;
	background-repeat: no-repeat;
	color: #BC0F00;
	display: inline-block;
	padding-right: 30px;
	padding-top: 3px;
	height: 11px;
}

.comments span.a.g {
	color: #666;
}

.comments .i.alt .a {
	background-position: right top;
}

.comments .d {
	color: #666666;
	padding-right: 5px;
}

.comments .t {
	border-left: 1px solid #666666;
	color: #666666;
	font-weight: bold;
	margin-left: 2px;
	padding-left: 5px;
}

.comments .b div {
	float: right;
	padding-top: 3px;
}

/*Comments multi form*/
#cmf h1 {
	border-bottom: 2px solid #55B73E;
	color: #444444;
	font-size: 21px;
	font-weight: bold;
	padding-bottom: 3px;
}

#cmf h2.lead {
	color: #444444;
	font-size: 14px;
	margin: 5px 0 20px;
}

#cmf h2 {
	line-height: 140%;
	margin-bottom: 1em;
	margin-top: 5px;
}

#cmf .success_info a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
}

#cmf .rbl label {
	display: inline;
	font-size: 12px;
	font-weight: normal;
	line-height: 140%;
	padding-left: 5px;
	padding-right: 15px;
	vertical-align: middle;
}

#cmf .comments .i p {
	width: 696px;
}

#cmf .comments .i .b {
	width: 714px;
}

#moderation_propose_anonim table {
	margin: 0 !important;
}

#moderation_propose_auth .dl_button {
	margin: 0 !important;
}

#moderation_propose_auth td {
	padding-right: 0 !important;
}

#resignation_by_url table {
	width: 100%;
}

#comment_form {
	color: #313131;
	vertical-align: top;
}

#comment_form h5,.comment_success h5 {
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 2px solid #55B73E;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 3px;
	color: #444444;
}

#comment_form table {
	width: 684px;
}

#comment_form td {
	padding: 5px 5px 5px 0;
	vertical-align: top;
}

#comment_form td.ad {
	width: 251px;
	text-align: right;
	padding-right: 0;
}

#comment_form td img {
	padding-right: 5px;
}

#comment_form label {
	color: #333333;
	display: block;
	font-weight: bold;
	padding-bottom: 5px;
	cursor: pointer;
}

#comment_form .label {
	color: #333333;
	display: block;
	font-weight: bold;
	padding-bottom: 2px;
}

#comment_form .characters {
	padding-top: 5px;
}

#comment_form .characters .label {
	display: inline-block;
}

#comment_form .textbox {
	height: 20px;
	padding: 3px;
	width: 350px;
	border: solid 1px #d9d9d9;
}

#comment_form .textarea {
	height: 150px;
	padding: 3px;
	width: 350px;
	border: solid 1px #d9d9d9;
	overflow-x: hidden;
}

#comment_form .dl_button {
	margin-top: 5px;
}

#cmf #comment_form .dl_button {
	margin-right: 322px;
}

#comment_form .submiter_container {
	margin-top: 10px;
}

#comment_form .info {
	font-size: 14px;
}

#comment_form .info a {
	font-weight: bold;
}

#comment_preview h1 {
	border-bottom: 2px solid #55B73E;
	color: #444444;
	font-size: 21px;
	font-weight: bold;
	padding-bottom: 3px;
}

#comment_preview h2.lead {
	color: #444444;
	font-size: 14px;
	margin: 5px 0 20px;
}

.comment_success h5 {
	margin-bottom: 0;
}

.comment_success {
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment_success li {
	background: url("/static/gfx/icons/bullet_red.png") no-repeat scroll 0
		12px transparent;
	display: block;
	padding-left: 17px;
	padding-top: 10px;
}

.comment_success .number {
	color: #666;
}

.comment_success .time {
	color: #666;
}

.success_info {
	margin: 15px 0;
	font-size: 14px;
	color: #333;
	border: 1px solid #D9D9D9;
	padding: 5px 10px 5px 65px;
	background-color: #f0f0f0;
	text-align: left;
	background-image: url('/static/gfx/icons/success.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	min-height: 50px;
}

.success_info a,.error_info a {
	font-weight: bold;
	margin-top: 5px;
}

.error_info {
	margin: 15px 0;
	font-size: 14px;
	color: #333;
	border: 1px solid #D9D9D9;
	padding: 5px 10px 5px 65px;
	background-color: #f0f0f0;
	text-align: left;
	background-image: url('/static/gfx/icons/error.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
	min-height: 50px;
}

#jwplayer_delay_info {
	font-weight: bold;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	-moz-border-radius: 5px 5px 5px 5px;
	background-color: #000;
	bottom: 0;
	color: #fff;
	font-size: 14px;
	padding: 10px 15px;
	position: relative;
	top: -190px;
	width: 240px;
	text-align: center;
	margin: 0 auto;
}

#jwplayer_delay_info .s {
	color: #BC0F00;
	display: block;
	font-size: 15px;
	padding-top: 5px;
}

#related_video {
	margin: 20px 0;
}

#related_video .head {
	border-bottom: 2px solid #55B73E;
	color: #444444;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 3px;
}

#related_video .shead {
	color: #444444;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 3px;
	margin-top: 15px;
}

#related_video .main {
	color: #444;
	padding: 10px 0 0 0;
	height: 289px;
	overflow: hidden;
}

#related_video ul {
	margin-left: 10px;
}

#related_video li {
	background: url("/static/gfx/icons/bullet_red.png") no-repeat scroll 0
		12px transparent;
	padding-left: 17px;
	padding-top: 10px;
}

#uninstal_info {
	margin: 20px 0;
}

#uninstal_info .head {
	border-bottom: 2px solid #55B73E;
	color: #444444;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 3px;
}

#uninstal_info .main {
	color: #444;
	padding: 10px 0 0 0;
}

a.uninstal_info {
	display: block;
	margin: 10px 0;
	text-align: center;
	color: #186F9C !important;
}

#info h1 {
	font-size: 21px;
	font-weight: bold;
	color: #444;
}

#info h2 {
	font-size: 14px;
	color: #444;
	margin: 5px 0 20px;
}

#info .memo {
	line-height: 140%;
	font-size: 12px;
}

#info .memo p {
	margin-bottom: 1em;
	margin-top: 5px;
}

#info .memo ol,#program_desc .memo ul {
	margin-left: 30px;
}

#info .memo ul li {
	list-style: disc outside none;
}

#info .memo ol li {
	list-style: decimal outside none;
}

#related_articles {
	margin: 20px 0;
}

#related_articles .head {
	background: url("/static/gfx/background/box_head_green.png") repeat-x
		scroll 0 0 #107C04;
	color: #FFFFFF;
	font-weight: bold;
	padding: 3px 5px 4px;
}

#related_articles .main {
	border: 1px solid #D9D9D9;
	color: #444444;
	padding-bottom: 15px;
}

#related_articles .item {
	width: 118px;
	float: left;
	padding: 0px 19px;
	text-align: center;
	margin-top: 15px;
}

#related_articles .item a {
	font-size: 11px;
	font-weight: bold;
}

#related_articles .item a:visited {
	color: #666;
}

#related_articles .item img {
	display: block;
	margin: 0 auto 5px auto;
	border: 1px solid #D9D9D9;
}

/*Related popup box*/
#related_popup {
	display: none;
	width: 350px;
	padding: 8px 5px;
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: 100000;
	border: solid 1px #999;
	background: url("/static/gfx/background/right_col_box.png") repeat-x
		scroll center top transparent;
}

#related_popup .image_link {
	display: block;
	width: 120px;
	float: left;
	border: 1px solid #D9D9D9;
}

#related_popup h5 {
	margin-bottom: 5px;
	margin-left: 130px;
	padding-bottom: 5px;
	border-bottom: 1px solid #B7B7B7;
	white-space: nowrap;
	color: #BC0F00;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}

#related_popup h5 span {
	width: 16px;
	height: 16px;
	margin-left: 75px;
	display: inline-block;
	background: url("/static/gfx/icons/cancel.png") no-repeat;
	cursor: pointer;
}

#related_popup .short_link {
	display: block;
	width: 220px;
	margin-left: 130px;
	font-size: 14px;
	font-weight: bold;
}

#related_popup .short_link:visited {
	color: #666;
}

#top_newest_programs {
	margin: 20px 0 10px 0;
}

#top_newest_programs h2 {
	color: #444;
	padding: 10px;
	font-size: 14px;
}

#top_newest_programs .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#top_newest_programs .head h1 {
	font-weight: bold;
}

#top_newest_programs .main {
	border: solid 1px #d9d9d9;
}

#top_newest_programs .left {
	padding: 10px;
}

#top_newest_programs .left p {
	margin-top: 5px;
	color: #444444;
	font-size: 12px;
}

#top_newest_programs .center {
	padding: 0 15px;
	width: 85px;
	border-left: dotted 1px #bbbbbb;
	border-right: dotted 1px #bbbbbb;
	color: #444444;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}

#top_newest_programs .center span {
	font-weight: normal;
	display: block;
}

#top_newest_programs .right {
	padding: 0 15px;
}

#top_newest_programs td {
	border-top: dotted 1px #bbbbbb;
}

#top_newest_programs tr.alt {
	background-color: #f3f3f3;
}

#top_newest_programs .first td {
	border-top-width: 0;
}

#top_newest_programs tr h4 {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	padding-left: 22px;
	background: url("/static/gfx/icons/bullet_orange.png") no-repeat scroll
		0px 2px;
}

#top_newest_programs tr h4 a:visited {
	color: #666;
}

#top_newest_programs a span {
	color: #186F9C;
	text-transform: uppercase;
}

#top_newest_programs .more {
	text-align: right;
	padding: 1px 26px 3px;
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	cursor: pointer;
	background: url("/static/gfx/background/show_more_red.png") no-repeat
		scroll right 0;
}

#top_newest_programs .more a {
	color: #FFFFFF;
	display: block;
}

#news_index h1 {
	font-size: 21px;
	font-weight: bold;
	color: #444;
	border-bottom: 2px solid #55B73E;
	padding-bottom: 3px;
}

#news_index h2 {
	color: #444;
	font-size: 14px;
	margin: 5px 0 20px;
}

/*Custom Ads*/
.custom_ad .url {
	font-weight: bold;
	color: #186F9C !important;
}

.custom_ad .line2and3 {
	margin-top: 2px;
	color: #444;
}

.custom_ad .visible_url {
	color: #888;
	margin-top: 2px;
}

.custom_ad td {
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.custom_ad {
	display: none;
	margin: 20px 0;
}

.custom_ad .main div {
	word-wrap: break-word;
}

.custom_ad.v1 .head {
	border-bottom: 1px solid #D9D9D9;
	margin: 0 0 3px 0 !important;
	font-weight: normal !important;
	padding: 0 !important;
	text-transform: uppercase;
	font-size: 13px;
	background: none repeat scroll 0 0 transparent !important;
}

.custom_ad.v1 .head a {
	color: #767676 !important;
}

.custom_ad.v1 .main {
	border-width: 0 !important;
	padding: 0 !important;
}

.custom_ad.v1 .url {
	font-size: 13px;
}

.custom_ad.v1 .line2and3 {
	font-size: 11px;
}

.custom_ad.v1 .visible_url {
	font-size: 11px;
	color: #999;
}

.custom_ad.v1 .ad2 {
	padding-left: 4px;
	padding-right: 4px;
}

.custom_ad.v1.items_1 td {
	width: 100%;
}

.custom_ad.v1.items_1 td .url {
	font-size: 15px;
}

.custom_ad.v1.items_1 td .line2and3,.custom_ad.v1.items_1 td .visible_url
	{
	font-size: 13px;
}

.custom_ad.v1.items_1 td .url,.custom_ad.v1.items_2 td .url {
	font-size: 14px;
}

.custom_ad.v1.items_3 .ad2 {
	padding: 0 4px;
}

.custom_ad.v1.items_2 .ad2 {
	padding-left: 8px;
	padding-right: 0;
}

#program_desc .main .custom_ad.v1 {
	margin-bottom: 0;
}

#content_with_tag .custom_ad {
	padding: 0 10px;
}

#content_with_tag .custom_ad td {
	border-width: 0;
}

.custom_ad.v2 .head {
	background: #1c719f url("/static/gfx/background/box_head_blue.png")
		repeat-x;
	color: #FFFFFF;
	font-size: 13px;
	padding: 3px 5px 4px;
	font-weight: bold;
}

.custom_ad.v2 .head a,.custom_ad.v3 .head a,.custom_ad.v4 .head a {
	color: #fff;
}

.custom_ad.v2 .main {
	background-image: url("/static/gfx/background/right_col_box.png");
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #D9D9D9;
	padding: 8px 5px 0 5px;
}

.custom_ad.v2 .url {
	font-size: 13px;
}

.custom_ad.v2 .line2and3 {
	font-size: 12px;
}

.custom_ad.v2 .visible_url {
	font-size: 11px;
}

.custom_ad.v2 td {
	padding-bottom: 8px;
}

.custom_ad.v3 .head {
	font-size: 13px;
	padding: 3px 5px 4px;
	color: #fff;
	background: #3b3b3c url("/static/gfx/background/box_head_grey.png")
		repeat-x;
}

.custom_ad.v3 .main {
	background-color: #F0F2F5;
	border: 1px solid #D9D9D9;
	padding: 7px 5px 0 5px;
}

.custom_ad.v3 .url {
	font-size: 13px;
}

.custom_ad.v3 .line2and3 {
	font-size: 12px;
}

.custom_ad.v3 .visible_url {
	font-size: 11px;
}

.custom_ad.v3 table {
	table-layout: fixed;
	text-align: left;
}

.custom_ad.v3 td {
	padding-bottom: 8px;
}

.custom_ad.v3 .main div {
	width: 188px;
}

.custom_ad.v4 .head {
	background: url("/static/gfx/background/box_head_green.png") repeat-x
		scroll 0 0 #107C04;
	color: #FFFFFF;
	font-size: 13px;
	padding: 3px 5px 4px;
	font-weight: bold;
}

.custom_ad.v4 .main {
	border: 1px solid #D9D9D9;
	padding: 15px 10px 7px 10px;
}

.custom_ad.v4 .url {
	font-size: 13px;
}

.custom_ad.v4 .line2and3 {
	font-size: 12px;
}

.custom_ad.v4 .visible_url {
	font-size: 11px;
}

.custom_ad.v4 td {
	padding-bottom: 8px;
}

.custom_ad.v5 {
	margin: 10px 0 0 0;
}

.custom_ad.v5 .head {
	line-height: 16px;
	border-bottom: 1px dotted #BBB;
	margin: 0 0 2px 0 !important;
	font-weight: normal !important;
	padding: 0 !important;
	text-transform: uppercase;
	font-size: 12px;
	background: none repeat scroll 0 0 transparent !important;
}

.custom_ad.v5 .head a {
	color: #444 !important;
}

.custom_ad.v5 .main {
	border-width: 0 !important;
	padding: 0 !important;
}

.custom_ad.v5 .url {
	font-size: 12px;
}

.custom_ad.v5 .line2and3 {
	font-size: 11px;
}

.custom_ad.v5 .visible_url {
	font-size: 10px;
	color: #888 !important;
}

.custom_ad.v5 .main div {
	width: 190px;
}

/*Error page*/
#error {
	text-align: center;
	width: 620px;
	margin: 20px auto 30px auto;
}

#error h1 {
	background: url('/static/gfx/icons/error.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding: 35px 10px 35px 70px;
	border-top: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;
	font-size: 24px;
	font-weight: bold;
}

#error p {
	font-size: 15px;
	line-height: 150%;
	margin: 15px 0;
}

#error a.hp {
	font-weight: bold;
	font-size: 15px;
}

#error .custom_ad table {
	margin: 0 auto;
}

#error .custom_ad .url {
	font-size: 15px;
}

#error .custom_ad .line2and3 {
	font-size: 15px;
}

#error .custom_ad .visible_url {
	font-size: 14px;
}

#top {
	margin-top: 20px;
}

#top .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#top .main {
	border: solid 1px #d9d9d9;
}

#top .number {
	padding: 0 5px;
	color: #ff6a00;
	font-weight: bold;
	font-size: 18px;
	border-right: dotted 1px #bbbbbb;
	text-align: right;
}

#top .program {
	padding: 10px;
}

#top .program p {
	margin-top: 5px;
	color: #444444;
	font-size: 12px;
}

#top .counter {
	width: 93px;
	padding: 0 15px;
	border-left: dotted 1px #bbbbbb;
	border-right: dotted 1px #bbbbbb;
	color: #444444;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}

#top .counter span {
	font-weight: normal;
	display: block;
}

#top .button {
	padding: 0 15px;
}

#top td {
	border-top: dotted 1px #bbbbbb;
}

#top tr.alt {
	background-color: #f3f3f3;
}

#top .first td {
	border-top-width: 0;
}

#top h3 {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
}

#top h3 a:visited {
	color: #666;
}

#top a span {
	color: #186F9C;
	text-transform: uppercase;
}

#top .more {
	text-align: right;
	padding: 1px 14px 3px;
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	background: url("/static/gfx/background/show_more.png") no-repeat scroll
		676px 0px;
	color: #FFFFFF;
}

#top_download .title {
	font-size: 21px;
	font-weight: bold;
	color: #444;
	border-bottom: 2px solid #55B73E;
	padding-bottom: 3px;
}

#top_download .lead {
	color: #444;
	font-size: 14px;
	margin: 5px 0 20px;
}

/*AutoComplete*/
.ac_results {
	padding: 0px;
	border: 1px solid #333;
	background-color: #fff;
	overflow: hidden;
	z-index: 99999
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0
}

.ac_results li {
	text-align: left;
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden
}

.ac_results li i {
	font-style: italic;
	font-size: 10px
}

.ac_loading {
	background: #fff url('/static/gfx/head/indicator.gif') right center
		no-repeat
}

.ac_odd {
	background-color: #f0f0f0
}

.ac_over {
	background-color: #55B73E;
	color: #fff
}

/*Smart baners*/
.smart_baner {
	margin: 20px 0;
	text-align: center;
}

.smart_baner object {
	margin: 0 auto;
}

.smart_baner.billboard {
	margin: 5px 0;
}

.smart_baner.pasektop {
	margin: 0;
}

.smart_baner.rectangle1 {
	margin: 0;
}

.smart_baner.rectangle1.filled {
	margin-bottom: 20px;
}

/*AdSense*/
.adsense {
	margin: 20px 0;
	text-align: center;
}

#ks_v1_con_sub_left .adsense,#ks_v1_con_sub_right .adsense {
	margin-top: 0;
}

.self_scroll {
	margin-top: 10px;
	width: 994px;
	height: 30px
}

.self_scroll_50 {
	margin-top: 10px;
	width: 994px;
	height: 50px
}

.self_rectangle {
	margin: 20px 0;
	width: 300px;
	height: 250px
}

.self_barter {
	margin: 20px 0;
	width: 300px;
	height: 100px
}

.self_sky {
	margin: 20px auto;
	width: 160px;
	height: 600px;
	text-align: center;
}

.self_under_program {
	margin: 20px 0;
	width: 474px;
	height: 100px
}

#social {
	margin-bottom: 10px;
	margin-top: 15px;
}

#social .left {
	float: left;
	width: 250px;
}

#social .right {
	float: right;
	width: 224px;
	text-align: right;
}

#social .right .dl_button {
	margin-left: 5px;
}

#social .comments_anchor {
	line-height: 21px;
}

#social .comments_anchor span {
	color: #444;
}

#google_plusone_fb_like {
	
}

#google_plusone_fb_like .fb {
	float: left;
	width: 125px;
	height: 24px;
	oveflow: hidden;
}

#google_plusone_fb_like .fb iframe {
	oveflow: hidden;
	border: 0 none;
	height: 24px;
	width: 125px;
}

#google_plusone_fb_like .google {
	float: left;
	display: inline-block;
}

#fb_like {
	margin: 20px 0;
}

#fb_like .head {
	border-bottom: 2px solid #55B73E;
	color: #444444;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 3px;
	background: url('/static/gfx/icons/facebook_20x20.png') 0 -2px no-repeat;
	padding-left: 25px;
}

#fb_like .main {
	color: #444;
	padding: 10px 0 0 0;
}

#fb_like .pre {
	float: left;
	display: inline-block;
	line-height: 24px;
}

#fb_like .post {
	display: block;
	line-height: 24px;
}

#fb_like .fb {
	height: 24px;
	overflow: hidden;
	width: 78px;
	float: left;
	padding: 0 5px;
}

#social .tooltip {
	background-color: #f0f0f0;
	border: 1px solid #bbb;
	box-shadow: 0 0 10px #bbb;
	color: #888;
	display: none;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	width: 160px;
	z-index: 10000;
	line-height: normal;
}

#related_programs {
	margin-top: 20px;
}

#related_programs .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#related_programs h2 {
	background: #f0f2f5;
	padding: 5px 20px;
}

#related_programs .main {
	border: solid 1px #d9d9d9;
	padding: 0 10px;
}

#related_programs .program {
	padding: 10px 0 10px 22px;
	border-top: dotted 1px #bbbbbb;
	background: url("/static/gfx/icons/bullet_orange.png") no-repeat scroll
		0px 11px;
}

#related_programs .program.first {
	border-top-width: 0;
}

#related_programs .program a {
	display: block;
	float: left;
	width: 347px;
}

#related_programs .number {
	color: #FF6A00;
	float: left;
	width: 20px;
	font-weight: bold;
}

#related_programs ul {
	float: right;
}

#interesing_programs {
	margin-top: 20px;
}

#interesing_programs .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#interesing_programs h2 {
	background: #f0f2f5;
	padding: 5px 20px;
}

#interesing_programs .main {
	border: solid 1px #d9d9d9;
	padding: 0 10px;
}

#interesing_programs .program {
	padding: 10px 0px;
	border-top: dotted 1px #bbbbbb;
}

#interesing_programs .program.first {
	border-top-width: 0;
}

#interesing_programs .program a {
	display: block;
	float: left;
	width: 347px;
}

#interesing_programs .program a:visited {
	color: #666;
}

#interesing_programs .number {
	color: #FF6A00;
	float: left;
	width: 20px;
	font-weight: bold;
}

#interesing_programs ul {
	float: right;
}

#downloading h1 {
	font-size: 21px;
	font-weight: bold;
	color: #444;
	border-bottom: 2px solid #55B73E;
	padding-bottom: 3px;
}

#downloading h2 {
	color: #444;
	font-size: 10px;
	margin-top: 5px;
}

#downloading .links li {
	background: url("/static/gfx/icons/bullet_red.png") no-repeat scroll 0
		12px transparent;
	padding-left: 17px;
	padding-top: 10px;
}

#downloading .links iframe {
	display: none;
}

#tags {
	margin-bottom: 20px;
}

#tags .title {
	font-size: 21px;
	font-weight: bold;
	color: #444;
	border-bottom: 2px solid #55B73E;
	padding-bottom: 3px;
}

#tags .lead {
	color: #444;
	font-size: 14px;
	margin: 5px 0 20px;
}

#tags .character {
	border-bottom: 1px solid #B7B7B7;
	color: #444;
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 20px;
	padding-bottom: 5px
}

#tags .character a {
	color: #444;
}

#tags .tags a {
	line-height: 130%;
}

#tags .more {
	margin-top: 10px;
	text-align: right;
}

#tags .more a {
	color: #444;
}

#subcategories {
	margin: 20px 0 10px 0;
}

#subcategories ul.left {
	float: left;
	width: 377px;
	padding-right: 15px;
}

#subcategories ul.right {
	float: right;
	width: 376px;
	border-left: solid 1px #bbb;
	padding-left: 15px;
}

#subcategories li {
	border-top: 1px dotted #BBBBBB;
	padding: 15px 0;
}

#subcategories li.first {
	border-top-width: 0;
}

#subcategories li h3 {
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	padding-left: 22px;
	background: url("/static/gfx/icons/bullet_orange.png") no-repeat scroll
		0px 3px;
}

#subcategories li p {
	font-size: 12px;
	color: #444;
	margin: 5px 0;
}

#subcategories .most_downloded {
	margin-top: 8px;
}

#subcategories .most_downloded .head {
	float: left;
	background-color: #55B73E;
	border-radius: 2px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 10px;
	line-height: 14px;
	padding: 0 4px 1px;
	text-transform: uppercase;
}

#subcategories .most_downloded h4 {
	margin-top: 5px;
	margin-left: 80px;
	font-size: 12px;
	line-height: 14px;
}

#subcategories .most_downloded a:visited {
	color: #666;
}

#program_otw {
	background: #fff url('/static/gfx/background/program_otw.png') repeat-x;
	color: #444;
	border: 1px solid #d9d9d9;
	height: 225px;
	position: relative;
}

#program_otw .background_holder {
	background: url('/static/gfx/background/program_otw_item.png') no-repeat
		left bottom;
	position: absolute;
	bottom: 0;
	width: 280px;
	height: 77px
}

#program_otw  h1 {
	font-size: 24px;
	margin: 12px 15px;
	font-weight: bold;
}

#program_otw .left {
	width: 205px;
	float: left;
	padding-left: 25px;
}

#program_otw  .left img {
	width: 200px;
	height: 150px;
	border: solid 1px #d9d9d9;
}

#program_otw .center {
	width: 265px;
	float: left;
	padding: 0 25px;
}

#program_otw .center .label {
	float: left;
	display: inline-block;
	padding-right: 5px;
	line-height: 22px;
}

#program_otw .center a {
	float: right;
}

#program_otw .right {
	width: 205px;
	float: left;
	padding: 5px 10px 10px 20px;
	border-left: solid 1px #d9d9d9;
}

#program_otw .right .label {
	display: block;
	text-decoration: underline;
	margin-bottom: 10px;
}

#program_otw .right li {
	display: inline-block;
	padding-left: 17px;
	background: url('/static/gfx/icons/bullet_red.png') 0 2px no-repeat;
	margin-bottom: 7px;
}

#program_otw .opinion {
	border-bottom: solid 1px #999;
	padding-bottom: 5px;
	width: 205px;
	margin-bottom: 8px;
}

#program_otw p {
	margin: 0px 0 12px 0;
}

#program_otw a:visited {
	color: #666;
}

#category .title {
	font-size: 21px;
	font-weight: bold;
	color: #444;
	border-bottom: 2px solid #55B73E;
	padding-bottom: 3px;
}

#category .lead {
	color: #444;
	font-size: 14px;
	margin: 5px 0 20px;
}

#three_recommended {
	margin-top: 20px;
}

#three_recommended .main {
	border: solid 1px #d9d9d9;
	background: url("/static/gfx/background/recommended_programs.png")
		repeat-x;
}

#three_recommended .item {
	float: left;
	width: 215px;
	min-height: 116px;
	padding: 15px 20px;
	border-left: solid 1px #d9d9d9;
}

#three_recommended .first {
	border-left-width: 0;
}

#three_recommended .rec_label {
	background: url("/static/gfx/background/recommend_label.png") no-repeat
		scroll 0 0 transparent;
	color: #FFFFFF;
	display: inline-block;
	font-size: 10px;
	line-height: 13px;
	padding: 0 4px 1px;
	text-transform: uppercase;
}

#three_recommended h3 {
	font-weight: bold;
	font-size: 14px;
	margin: 5px 0;
}

#three_recommended h3 a:visited {
	color: #666;
}

#three_recommended .opinion {
	margin-bottom: 10px;
}

#three_recommended .label {
	float: left;
	display: inline-block;
	padding-right: 5px;
	line-height: 22px;
}

#three_recommended .more {
	text-align: right;
	padding: 1px 22px 3px;
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	background: url("/static/gfx/background/show_more_red.png") no-repeat
		scroll right 0;
	color: #FFFFFF;
	line-height: 12px;
}

#three_recommended .more a {
	color: #fff;
	display: block;
}

#sub_category h1 {
	font-size: 21px;
	font-weight: bold;
	color: #444;
	border-bottom: 2px solid #55B73E;
	padding-bottom: 3px;
}

#sub_category h2 {
	color: #444;
	font-size: 14px;
	margin: 5px 0 20px;
}

#index {
	margin-top: 20px;
}

#index h2 {
	color: #444;
	padding: 10px;
	font-size: 14px;
}

#index .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#index .head h1 {
	font-weight: bold;
}

#index .main {
	border: solid 1px #d9d9d9;
}

#index .left {
	padding: 10px;
}

#index .left p {
	margin-top: 5px;
	color: #444444;
	font-size: 12px;
}

#index .center {
	padding: 0 15px;
	width: 85px;
	border-left: dotted 1px #bbbbbb;
	border-right: dotted 1px #bbbbbb;
	color: #444444;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}

#index .center span {
	font-weight: normal;
	display: block;
}

#index .right {
	padding: 0 15px;
}

#index td {
	border-top: dotted 1px #bbbbbb;
}

#index tr.alt {
	background-color: #f3f3f3;
}

#index .first td {
	border-top-width: 0;
}

#index tr h4 {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	padding-left: 22px;
	background: url("/static/gfx/icons/bullet_orange.png") no-repeat scroll
		0px 2px;
}

#index tr h4 a:visited {
	color: #666;
}

#index a span {
	color: #186F9C;
	text-transform: uppercase;
}

#content_with_tag {
	
}

#content_with_tag h2 {
	color: #444;
	margin: 10px;
	font-size: 14px;
}

#content_with_tag .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#content_with_tag .head h1 {
	font-weight: bold;
}

#content_with_tag .main {
	border: solid 1px #d9d9d9;
}

#content_with_tag .left {
	padding: 10px;
}

#content_with_tag .left p {
	margin-top: 5px;
	color: #444444;
	font-size: 12px;
}

#content_with_tag .center {
	padding: 0 15px;
	width: 85px;
	border-left: dotted 1px #bbbbbb;
	border-right: dotted 1px #bbbbbb;
	color: #444444;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}

#content_with_tag .center span {
	font-weight: normal;
	display: block;
}

#content_with_tag .right {
	padding: 0 15px;
}

#content_with_tag td {
	border-top: dotted 1px #bbbbbb;
}

#content_with_tag tr.alt {
	background-color: #f3f3f3;
}

#content_with_tag .first td {
	border-top-width: 1px;
}

#content_with_tag tr h3 {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	padding-left: 22px;
	background: url("/static/gfx/icons/bullet_orange.png") no-repeat scroll
		0px 2px;
}

#content_with_tag a span {
	color: #186F9C;
	text-transform: uppercase;
}

#content_with_tag .gprofile {
	display: block;
	line-height: 16px;
	margin: 10px;
	vertical-align: middle;
}

#content_with_tag .gprofile img {
	vertical-align: bottom;
}

/*Pager Settings*/
#paging_nav {
	margin: 20px 0;
	text-align: center;
	line-height: 14px;
	font-size: 11px;
	font-weight: bold;
}

#paging_nav a {
	border-radius: 3px;
	color: #fff;
	background-color: #ccc;
	margin-left: 4px;
	padding: 1px 4px;
	text-decoration: none !important;
	display: inline-block;
}

#paging_nav a:hover {
	background-color: #ff6a00;
}

#paging_nav .current {
	padding: 1px 4px;
	border-radius: 3px;
	margin-left: 4px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	background-color: #ff6a00;
}

#paging_nav .first {
	
}

#paging_nav .previous {
	
}

#paging_nav .next {
	margin-left: 5px;
}

#paging_nav .last {
	margin-left: 5px;
}

#popular_programs_ss {
	margin-top: 20px;
}

#popular_programs_ss .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#popular_programs_ss .main {
	border: solid 1px #d9d9d9;
}

#popular_programs_ss .left {
	padding: 10px;
}

#popular_programs_ss .left p {
	margin-top: 5px;
	color: #444444;
	font-size: 12px;
}

#popular_programs_ss .center {
	width: 93px;
	padding: 0 15px;
	border-left: dotted 1px #bbbbbb;
	border-right: dotted 1px #bbbbbb;
	color: #444444;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}

#popular_programs_ss .center span {
	font-weight: normal;
	display: block;
}

#popular_programs_ss .right {
	padding: 0 15px;
}

#popular_programs_ss td {
	border-top: dotted 1px #bbbbbb;
}

#popular_programs_ss tr.alt {
	background-color: #f3f3f3;
}

#popular_programs_ss .first td {
	border-top-width: 0;
}

#popular_programs_ss tr.iv {
	display: none;
}

#popular_programs_ss .number {
	float: left;
	padding-right: 5px;
	color: #ff6a00;
	font-weight: bold;
	font-size: 14px;
}

#popular_programs_ss tr h3 {
	font-weight: bold;
	font-size: 14px;
}

#popular_programs_ss tr h3 a:visited {
	color: #666;
}

#popular_programs_ss a span {
	color: #186F9C;
	text-transform: uppercase;
}

#popular_programs_ss .more {
	text-align: right;
	padding: 1px 14px 3px;
	font-size: 10px;
	font-weight: bold;
	cursor: pointer;
	background: url("/static/gfx/background/show_more.png") no-repeat scroll
		676px 0px;
	color: #FFFFFF;
}

#producer_programs {
	margin-top: 20px;
}

#producer_programs .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#producer_programs h2 {
	background: #f0f2f5;
	padding: 5px 20px;
}

#producer_programs .main {
	border: solid 1px #d9d9d9;
	padding: 0 10px;
}

#producer_programs .scrollable {
	width: 442px;
	height: 210px;
	float: left;
	overflow: hidden;
	position: relative;
}

#producer_programs .items {
	width: 20000em;
	position: absolute;
}

#producer_programs .item {
	float: left;
	width: 442px;
}

#producer_programs li {
	border-top: dotted 1px #bbbbbb;
	padding: 10px 0px;
}

#producer_programs li.first {
	border-top-width: 0;
}

#producer_programs .number {
	padding-right: 5px;
	color: #ff6a00;
	font-weight: bold;
	float: left;
}

#producer_programs li a {
	display: block;
	margin-left: 20px;
}

#producer_programs li a:visited {
	color: #666;
}

#producer_programs a span {
	color: #333;
}

#top_download_box {
	margin-top: 0;
}

#top_download_box .main {
	padding: 0px 10px 10px 10px;
}

#top_download_box li {
	padding-top: 10px;
}

#top_download_box .number {
	padding-right: 5px;
	color: #ff6a00;
	font-weight: bold;
	float: left;
}

#top_download_box a {
	margin-left: 20px;
	display: block;
}

#program h1 {
	font-size: 21px;
	font-weight: bold;
	color: #444;
}

#program .screenshot {
	display: inline-block;
	margin: 0 auto;
	border: 1px solid #D9D9D9;
}

#program .required_holder {
	text-align: center;
	margin: 20px 0;
}

#program .screenshot_holder {
	position: relative;
	display: inline-block;
}

#program .recommended_holder {
	display: block;
	width: 124px;
	height: 121px;
	position: absolute;
	right: 0;
	top: 0;
	background: url("/static/gfx/background/recommended_program.png")
		no-repeat scroll 0 0 transparent;
}

#program .tags {
	display: inline-block;
	margin-top: 5px;
	font-size: 10px;
	color: #666666;
}

#program .tags h2,.tags h4 {
	display: inline;
	font-weight: normal;
	font-size: 10px;
	margin: 0px;
	border-width: 0;
	color: #666666;
}

#program .tags a {
	color: #666666;
}

#content_with_tag .tags {
	display: inline-block;
	margin-top: 5px;
	font-size: 10px;
	color: #666666;
}

#content_with_tag .tags h2,#content_with_tag .tags h4 {
	display: inline;
	font-weight: normal;
	font-size: 10px;
	margin: 0px;
	border-width: 0;
	color: #666666;
}

#content_with_tag .tags a {
	color: #666666;
}

#program_desc {
	
}

#program_desc .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#program_desc .main {
	border: solid 1px #d9d9d9;
	padding: 15px 10px;
	color: #444;
}

#program_desc .main .memo {
	line-height: 140%;
	font-size: 12px;
}

#program_desc .main .memo p {
	margin-bottom: 1em;
	margin-top: 5px;
}

#program_desc .main .memo a:visited {
	color: #663399;
}

#program_desc .memo ol,#program_desc .memo ul {
	margin-left: 30px;
}

#program_desc .memo ul li {
	list-style: disc outside none;
}

#program_desc .memo ol li {
	list-style: decimal outside none;
}

#program_desc .author {
	text-align: right;
	margin: 5px 0;
	font-weight: bold;
	font-style: italic;
}

#program_desc .author a {
	color: #444;
}

.review {
	background-color: #F0F0F0;
	padding: 10px;
	border: 1px solid #BBBBBB;
}

.review .stars {
	display: inline-block;
	line-height: 24px;
	vertical-align: middle;
}

.review .stars img {
	vertical-align: middle;
	padding: 0 !important;
}

.review .editor {
	float: left;
	width: 210px;
	border-right: 1px solid #bbb;
	text-align: center;
}

.review .users {
	float: left;
	width: 215px;
	padding-left: 4px;
	text-align: center;
}

.review.single .users {
	width: 426px;
}

.review .editor .label,#program_desc .users .label {
	margin-bottom: 5px !important;
}

.review .rating_holder {
	line-height: 24px;
	font-size: 19px;
	display: inline;
	padding-left: 5px;
	vertical-align: middle;
}

.review .info {
	margin-top: 5px;
	font-size: 13px !important;
}

#program_desc .review {
	margin-top: 10px;
}

#program_desc .label {
	font-weight: bold;
	margin-bottom: 15px;
	display: block;
}

#comment_form .review {
	margin-left: 5px;
	text-align: center;
}

#comment_form .review .label {
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
}

#downloading .review {
	margin: 20px 0;
	border: none;
	background: none;
	padding: 0;
}

#downloading .review .head {
	border-bottom: 2px solid #55B73E;
	color: #444444;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 3px;
}

#downloading .review .main {
	padding-top: 10px;
	text-align: center;
}

#program_info {
	margin-top: 20px;
}

#program_info .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#program_info .main {
	border: solid 1px #d9d9d9;
	padding: 15px 10px 5px 10px;
	color: #444;
}

#program_info .label {
	padding-right: 5px;
	font-weight: bold;
}

#program_info .versions {
	border-bottom: 1px dotted #BBBBBB;
	padding-bottom: 10px;
	line-height: 140%;
}

#program_info .versions .label {
	
}

#program_info option {
	color: #444;
}

#program_info .left {
	width: 160px;
	float: left;
	padding-top: 10px;
}

#program_info .right {
	width: 290px;
	float: right;
	text-align: right;
	padding-top: 10px;
}

#program_info a {
	color: #444;
}

#program_info ul {
	width: 215px;
	float: left;
}

#program_info li {
	border-top: dotted 1px #bbbbbb;
	padding: 10px 0;
	word-wrap: break-word;
}

#program_info li.licence {
	border-top-width: 0px;
}

#program_info .producer a {
	color: #186F9C;
}

#program_info .producer div {
	display: inline;
}

#program_info .download {
	float: right;
	width: 190px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px #bbbbbb;
	background: #f0f0f0;
	text-align: center;
}

#program_info .download a span {
	display: none;
}

#program_info .download .dl_button.green {
	font-size: 16px;
	margin-top: 10px;
}

#program_info .size {
	display: block;
	color: #888888;
	margin-top: 5px;
	font-size: 14px;
}

#program_info .counter {
	display: block;
	margin-top: 5px;
	padding-top: 5px;
	border-top: dotted 1px #bbbbbb;
}

#program_info .counter span {
	font-weight: bold;
}

#program_info .avg_scanned {
	display: block;
	float: right;
	margin-top: 10px;
	padding-right: 22px;
}

#program_info .avg_scanned img {
	width: 168px;
	height: 40px;
}

#program_info .dl_button.big {
	margin-bottom: 5px;
}

#dmgr_info {
	margin-top: 5px;
	padding-bottom: 10px;
	font-size: 12px;
	color: #888888;
	border-bottom: 1px dotted #BBBBBB;
}

#dmgr_info a {
	color: #186F9C;
}

.stars.middle li {
	float: left;
	width: 22px;
	height: 22px;
	background: url("/static/gfx/icons/stars_middle.png") no-repeat scroll
		0px 0px;
	line-height: 22px;
}

.stars.middle li.full {
	background-position: 0px 0px;
}

.stars.middle li.half {
	background-position: 0px -44px;
}

.stars.middle li.empty {
	background-position: 0px -88px;
}

.stars.small li {
	float: left;
	width: 16px;
	height: 16px;
	background: url("/static/gfx/icons/stars_small.png") no-repeat scroll
		0px 0px;
	line-height: 16px;
	padding: 0 !important;
	margin: 0 !important;
	border-width: 0 !important;
}

.stars.small li.full {
	background-position: 0px 0px;
}

.stars.small li.half {
	background-position: 0px -31px;
}

.stars.small li.empty {
	background-position: 0px -62px;
}

.dl_button {
	display: inline-block;
	font-size: 14px;
	color: #fff !important;
	border-top: solid 1px #186f9c;
	border-left: solid 1px #186f9c;
	border-right: solid 1px #186f9c;
	border-bottom: solid 1px #005682;
	background: #60a8dd url('/static/gfx/background/button_blue.png')
		repeat-x;
	padding: 3px 15px;
	text-transform: uppercase;
	cursor: pointer;
}

.dl_button.gray {
	background-image: url("/static/gfx/background/dl_button_gray.png");
	border: solid 1px #BEBEBE;
	border-bottom-color: #989E9F;
	color: #484848 !important;
	text-transform: none;
}

.dl_button.green {
	background-image: url("/static/gfx/background/dl_button_green.png");
	background-color: #55B73E;
	border: solid 1px #359b21;
	border-bottom-color: #007b00;
	color: #fff !important;
	text-transform: none;
}

.dl_button.big {
	padding: 8px 28px;
	font-size: 24px;
}

.dl_button.small {
	padding: 2px 10px;
	font-size: 12px;
}

.dl_button:active {
	border: solid 1px #005682;
	background-image: none;
	background-color: #5a9ecc;
}

.dl_button.gray:active {
	background-color: #DBDBDB;
	background-image: none;
	border-color: #989E9F;
}

.dl_button.green:active {
	background-color: #55B73E;
	background-image: none;
	border-color: #007b00;
}

#news {
	margin-top: 0;
}

#news .main {
	padding: 0px 10px 10px 10px;
}

#news li {
	padding-left: 17px;
	padding-top: 10px;
	background: url("/static/gfx/icons/bullet_red.png") no-repeat scroll 0px
		12px;
}

#popular_programs {
	
}

#popular_programs .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#popular_programs h2 {
	background: #f0f2f5;
	padding: 5px 20px;
	font-weight: bold;
}

#popular_programs .main {
	border: solid 1px #d9d9d9;
}

#popular_programs .scrollable {
	width: 442px;
	height: 210px;
	float: left;
	overflow: hidden;
	position: relative;
}

#popular_programs .items {
	width: 20000em;
	position: absolute;
}

#popular_programs .item {
	float: left;
	width: 442px;
}

#popular_programs li {
	border-top: dotted 1px #bbbbbb;
	padding: 10px 0;
}

#popular_programs li.first {
	border-top-width: 0;
}

#popular_programs .number {
	padding-right: 5px;
	color: #ff6a00;
	font-weight: bold;
}

#popular_programs li a {
	color: #333;
}

#popular_programs a span {
	color: #186F9C;
	text-transform: uppercase;
}

#popular_programs a:visited span {
	color: #666;
}

#popular_programs .nav {
	float: left;
	width: 15px;
	height: 26px;
	background: #f0f2f5;
}

#popular_programs .nav div {
	cursor: pointer;
	width: 15px;
	height: 26px;
}

#popular_programs .prev1 {
	background: url("/static/gfx/icons/arrows_red.png") no-repeat scroll 4px
		-40px transparent
}

#popular_programs .next1 {
	background: url('/static/gfx/icons/arrows_red.png') 0px 2px no-repeat;
}

#popular_programs .disabled {
	visibility: hidden !important
}

#recommended_programs {
	margin-top: 20px;
}

#recommended_programs .head {
	font-weight: bold;
	color: #FFFFFF;
	padding: 3px 5px 4px;
	background: #107c04 url("/static/gfx/background/box_head_green.png")
		repeat-x;
}

#recommended_programs h2 {
	background: #f0f2f5;
	padding: 5px 20px;
	font-weight: bold;
}

#recommended_programs .main {
	border: solid 1px #d9d9d9;
}

#recommended_programs .scrollable {
	width: 442px;
	height: 210px;
	float: left;
	overflow: hidden;
	position: relative;
}

#recommended_programs .items {
	width: 20000em;
	position: absolute;
}

#recommended_programs .item {
	float: left;
	width: 442px;
}

#recommended_programs .program {
	padding: 10px 0px;
	border-top: dotted 1px #bbbbbb;
}

#recommended_programs .program.first {
	border-top-width: 0;
}

#recommended_programs .number {
	color: #FF6A00;
	float: left;
	width: 20px;
	font-weight: bold;
}

#recommended_programs .program a {
	display: block;
	float: left;
	width: 342px;
}

#recommended_programs .program a:visited {
	color: #666;
}

#recommended_programs a span {
	color: #186F9C;
	text-transform: uppercase;
}

#recommended_programs ul {
	float: right;
}

#recommended_programs .nav {
	float: left;
	width: 15px;
	height: 26px;
	background: #f0f2f5;
}

#recommended_programs .nav div {
	cursor: pointer;
	width: 15px;
	height: 26px;
}

#recommended_programs .prev2 {
	background: url("/static/gfx/icons/arrows_red.png") no-repeat scroll 4px
		-40px transparent
}

#recommended_programs .next2 {
	background: url('/static/gfx/icons/arrows_red.png') 0px 2px no-repeat;
}

#recommended_programs .disabled {
	visibility: hidden !important
}

#recommended_programs .container a {
	padding-right: 10px;
	float: left;
}

#mt_scrollable {
	height: 227px;
	width: 784px;
	overflow: hidden;
	position: relative;
	background: #616163 url('/static/gfx/background/mt_item.png') repeat-x;
	color: #fff;
}

#mt_scrollable .items {
	color: #FFFFFF;
	display: block;
	margin: 0;
	position: absolute;
	width: 20000em;
}

#mt_scrollable .item {
	display: block;
	float: left;
	width: 782px;
	border: 1px solid #8EED5A;
	height: 225px;
}

#mt_scrollable  h1 {
	font-size: 24px;
	margin: 12px 15px;
	font-weight: bold;
}

#mt_scrollable  h1 a {
	color: #fff;
}

#mt_scrollable .left {
	width: 205px;
	float: left;
	padding-left: 25px;
}

#mt_scrollable  .left img {
	width: 200px;
	height: 150px;
	border: solid 1px #d9d9d9;
}

#mt_scrollable .center {
	width: 265px;
	float: left;
	padding: 0 25px;
}

#mt_scrollable .center .label {
	float: left;
	display: inline-block;
	padding-right: 5px;
	line-height: 22px;
}

#mt_scrollable .center a {
	float: right;
}

#mt_scrollable .right {
	width: 205px;
	float: left;
	padding: 5px 10px 10px 20px;
	border-left: solid 1px #999;
}

#mt_scrollable .right .label {
	display: block;
	text-decoration: underline;
	margin-bottom: 10px;
}

#mt_scrollable .right li {
	display: inline-block;
	padding-left: 15px;
	background: url('/static/gfx/icons/bullet_gray.png') 0 4px no-repeat;
	margin-bottom: 7px;
}

#mt_scrollable .right li a {
	color: #8edbff;
}

#mt_scrollable .opinion {
	border-bottom: solid 1px #999;
	padding-bottom: 5px;
	width: 205px;
	margin-bottom: 8px;
}

#mt_scrollable p {
	margin: 0px 0 12px 0;
}

#mt_navigator {
	border: solid 1px #d9d9d9;
	border-top-width: 0;
	border-left-width: 0px;
	background: url('/static/gfx/background/mt_navigation.png') repeat-x;
}

#mt_navigator li {
	height: 130px;
	width: 155px;
	float: left;
	display: block;
	border-left: solid 1px #dbdbdb;
}

#mt_navigator li.last {
	width: 158px;
}

#mt_navigator img {
	margin: 0 auto 5px auto;
	border: solid 1px #d9d9d9;
	display: block;
}

#mt_navigator a {
	text-decoration: none;
	display: block;
	height: 115px;
	padding: 15px 2px 0 2px;
	text-align: center;
	font-size: 11px;
}

#mt_navigator li.active a {
	position: relative;
	top: -2px;
	padding-top: 17px;
	background-color: #3a3a3b;
	font-weight: bold;
}

#mt_navigator .active a {
	color: #92eb62;
}

#mt_navigator .active img {
	border: solid 2px #92eb62;
	width: 98px;
}

#categories .head {
	font-size: 13px;
	padding: 3px 5px 4px;
	color: #fff;
	background: #3b3b3c url("/static/gfx/background/box_head_grey.png")
		repeat-x;
}

#categories .main {
	border: solid 1px #d9d9d9;
	border-top-width: 0;
}

#categories li {
	border-top: solid 1px #d9d9d9;
}

#categories a {
	background-color: #f0f2f5;
	border-top: solid 1px #fff;
	display: block;
	padding: 7px 5px;
	width: 188px
}

#categories li.active a {
	color: #ef4042;
}

#breadcrumbs {
	font-size: 13px;
	margin: 15px 0 5px 0;
	color: #444;
}

#breadcrumbs div {
	display: inline;
}

#breadcrumbs a {
	font-size: 12px;
}

#breadcrumbs strong {
	font-weight: normal;
}

/*Facebook*/
#ks_v1_facebook_box {
	margin: 20px 0;
}

#ks_v1_facebook_box iframe {
	overflow: hidden;
	width: 300px;
	height: 215px;
}

/*Umbrella*/
.pasek_all {
	background-image: url('/static/gfx/background/tlo_pasek.png');
	background-repeat: repeat-x;
	height: 35px;
	width: 994px;
	margin: 0 auto;
}

.pasek a {
	color: #c8c8c8;
	text-decoration: none;
	font-size: 12px;
	font-weight: 400;
}

.pasek a:hover {
	text-decoration: none;
	color: #FFF;
}

.sz {
	float: left;
	background: url('/static/gfx/background/sz_pasek.png') 0 0 no-repeat;
	width: 30px;
	height: 30px;
}

.pasek ul li {
	border-right: solid 1px #4d4d4d;
	float: left;
	background-image: url('/static/gfx/background/link_pasek.gif');
	padding: 5px;
}

/*Pages header*/
#ks_v1_head_holder {
	width: 100%;
	height: 80px
}

#ks_v1_head_holder .logo {
	float: left;
	width: 185px;
}

#ks_v1_head_holder .logo img {
	cursor: pointer;
}

#ks_v1_head_holder .additional {
	position: relative;
	padding-left: 25px;
	width: 242px;
	float: left;
	margin-top: 5px;
}

#ks_v1_head_holder .additional iframe {
	height: 63px;
	width: 85px;
	oveflow: hidden;
}

#ks_v1_head_holder .additional div {
	vertical-align: top;
}

#ks_v1_head_holder .right {
	float: right;
}

#ks_v1_head_holder .login {
	width: 541px;
	height: 17px;
	text-align: right;
	font-size: 11px;
	color: #666;
	padding-top: 3px;
}

#ks_v1_head_holder .login .status {
	display: none;
}

#ks_v1_head_holder .login a {
	color: #666;
}

#ks_v1_head_holder .login a:hover {
	color: #186F9C;
}

#ks_v1_head_holder .search {
	height: 28px;
	float: left;
	width: 413px;
	padding: 9px 12px 9px 12px;
	background: #2e9011 url('/static/gfx/head/search_background.png')
		repeat-x;
}

#ks_v1_head_holder .textbox {
	border: 1px solid #cdcdcd;
	float: left;
	padding: 3px;
	width: 320px;
	font-size: 12px;
	margin-top: 2px;
}

#ks_v1_head_holder .button {
	background: url("/static/gfx/head/search_button.png") no-repeat;
	border: 0;
	position: relative;
	left: 10px;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	height: 27px;
	font-size: 12px;
	width: 75px;
}

#ks_v1_head_holder .items {
	float: left;
	width: 80px;
	padding: 5px 12px;
	height: 36px;
	background: #4c4c4e url('/static/gfx/head/items_background.png')
		repeat-x;
}

#ks_v1_head_holder .items a {
	display: block;
	color: #fff;
	font-size: 11px;
	background: no-repeat left center;
	padding-left: 20px;
}

#ks_v1_head_holder .items .rss {
	background-image: url('/static/gfx/head/rss_icon.png');
}

#ks_v1_head_holder .items .newsletter {
	background-image: url('/static/gfx/head/newsletter_icon.png');
	margin-top: 9px;
}

/* Menu Root */
#menu {
	height: 26px;
	font-size: 13px;
	background: #4c4c4d url('/static/gfx/menu/menu.png') 0 0px repeat-x;
	text-transform: lowercase;
}

#menu ul li {
	border-left: solid 1px #363838;
	float: left;
	padding: 0px;
}

#menu a {
	display: inline-block;
	height: 22px;
	padding: 4px 9px 0 9px;
	color: #fff;
	text-decoration: none;
}

#menu a:hover {
	color: #8eed5a;
}

#menu .first {
	border-left-width: 0;
}

#menu .special {
	color: #90ddff;
}

/*Tags*/
.tag6x {
	font-size: 25px;
	color: #186F9C
}

.tag5x {
	font-size: 22px;
	color: #1a76a6
}

.tag4x {
	font-size: 19px;
	color: #1b7db0
}

.tag3x {
	font-size: 16px;
	color: #1d84ba
}

.tag2x {
	font-size: 14px;
	color: #1e8cc4
}

.tag1x {
	font-size: 12px;
	color: #2093cf
}

.tag0x {
	font-size: 10px;
	color: #2093cf
}

/*Right column boxes*/
.rcb {
	margin: 20px 0;
}

.rcb .head {
	background: #1c719f url("/static/gfx/background/box_head_blue.png")
		repeat-x;
	color: #FFFFFF;
	font-size: 13px;
	padding: 3px 5px 4px;
	font-weight: bold;
}

.rcb .head a {
	background: no-repeat right center;
	color: #FFFFFF;
	display: block;
	line-height: normal;
}

.rcb .head span {
	color: #fff;
	display: block;
	background: no-repeat right center;
	line-height: normal;
}

.rcb .main {
	border: 1px solid #D9D9D9;
	background: url("/static/gfx/background/right_col_box.png") repeat-x
		center top;
}

.rcb .main a:visited {
	color: #666;
}

/*Top Tags Box*/
#top_tags .main {
	padding: 8px 5px;
	line-height: 130%;
	text-align: justify;
}

#top_tags a {
	color: #186F9C;
}

/* Foot */
.ks_v1_foot_info1 {
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
}

.ks_v1_foot_info2 {
	font-size: 12px;
	font-weight: bold;
	padding-top: 2px;
}

#ft p {
	text-decoration: none;
	font-size: 10px
}

#ft span.ks_v1_foot_ax {
	font-size: 10px
}

#ft a {
	color: #000;
}

.ks_v1_ft_right {
	border-top: 1px solid #d9d9d9;
	text-align: center;
	color: #fff;
	padding-top: 4px
}

.ks_v1_fd_t0 {
	padding: 0px 5px 10px 0px;
	float: left;
	width: 221px;
	margin-right: 5px
}

.ks_v1_foot_ax {
	color: #fff;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('/static/gfx/fancy/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('/static/gfx/fancy/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left,#fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('/static/gfx/fancy/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico,#fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('/static/gfx/fancy/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('/static/gfx/fancy/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover,#fancybox-right:hover {
	visibility: visible;
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('/static/gfx/fancy/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('/static/gfx/fancy/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('/static/gfx/fancy/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('/static/gfx/fancy/fancybox.png');
	background-position: -40px -182px;
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('/static/gfx/fancy/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('/static/gfx/fancy/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('/static/gfx/fancy/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('/static/gfx/fancy/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('/static/gfx/fancy/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding-left: 15px;
	background: url('/static/gfx/fancy/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding-bottom: 3px;
	background: url('/static/gfx/fancy/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding-left: 15px;
	background: url('/static/gfx/fancy/fancybox.png') -55px -90px no-repeat;
}

.fancybox-ie6 #fancybox-close {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_close.png',
		sizingMethod='scale');
}

.fancybox-ie6 #fancybox-left-ico {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_nav_left.png',
		sizingMethod='scale');
}

.fancybox-ie6 #fancybox-right-ico {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_nav_right.png',
		sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-over {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_title_over.png',
		sizingMethod='scale');
	zoom: 1;
}

.fancybox-ie6 #fancybox-title-float-left {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_title_left.png',
		sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-float-main {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_title_main.png',
		sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-float-right {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_title_right.png',
		sizingMethod='scale');
}

.fancybox-ie6 #fancybox-bg-w,.fancybox-ie6 #fancybox-bg-e,.fancybox-ie6 #fancybox-left,.fancybox-ie6 #fancybox-right,#fancybox-hide-sel-frame
	{
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute;
	margin-top: 0;
	top: expression(( -20 + ( document.documentElement.clientHeight ? 
		document.documentElement.clientHeight/ 2 : document.body.clientHeight/
		2)+ (ignoreMe= document.documentElement.scrollTop? document.documentElement.scrollTop:document.body.scrollTop))+
		 'px');
}

#fancybox-loading.fancybox-ie6 div {
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_loading.png',
		sizingMethod='scale');
}

.fancybox-ie .fancybox-bg {
	background: transparent !important;
}

.fancybox-ie #fancybox-bg-n {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_shadow_n.png',
		sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-ne {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_shadow_ne.png',
		sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-e {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_shadow_e.png',
		sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-se {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_shadow_se.png',
		sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-s {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_shadow_s.png',
		sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-sw {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_shadow_sw.png',
		sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-w {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_shadow_w.png',
		sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-nw {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/gfx/fancy/fancy_shadow_nw.png',
		sizingMethod='scale');
}

#google_search_result {
	
}

#google_search_result #breadcrumbs {
	margin-bottom: 15px;
}

#google_search_result .info {
	margin: 15px 0 40px 0;
	text-align: left;
	color: #BD0F00;
	font-size: 20px;
}

#google_search_result .please_wait {
	margin-bottom: 10px;
	background-color: #FFF6BF;
	border: 1px solid #FFD324;
	color: #333;
	line-height: 16px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

.gsc-control-cse,.gsc-control-cse .gsc-table-result {
	font-family: Verdana, sans-serif !important;
}

.gsc-result-info {
	border-bottom: 2px solid #55B73E !important;
	color: #444444 !important;
	font-size: 14px !important;
	font-weight: bold;
	padding-bottom: 3px !important;
	padding-left: 0 !important;
	margin-bottom: 10px;
}
/**
 * Default theme
 *
 */
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse,.gsc-control-cse {
	width: 100%
}

.cse .gsc-branding,.gsc-branding {
	display: none
}

.cse .gsc-control-cse div,.gsc-control-cse div {
	position: normal
}
/* Selector for entire element. */
.cse .gsc-control-cse,.gsc-control-cse {
	background-color: #ffffff; /*border:1px solid; */
	border-color: #ffffff
}

.cse .gsc-control-cse:after,.gsc-control-cse:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.cse .gsc-resultsHeader,.gsc-resultsHeader {
	border: block
}
/* Search button */
.cse input.gsc-search-button,input.gsc-search-button {
	font-family: inherit;
	color: #000000;
	text-shadow: 0 1px 2px #FFFFFF;
	background-color: #CECECE;
	border: 1px outset;
	border-color: #666666;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}
/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,.gsc-tabHeader.gsc-tabhInactive {
	border-bottom: none;
	color: #666666;
	background-color: #e9e9e9;
	border: 1px solid;
	border-color: #e9e9e9;
	border-bottom: none
}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive,.gsc-tabHeader.gsc-tabhActive {
	background-color: #FFFFFF;
	border: 1px solid;
	border-top: 2px solid;
	border-color: #e9e9e9;
	border-top-color: #FF9900;
	border-bottom: none
}
/* This is the tab bar bottom border. */
.cse .gsc-tabsArea,.gsc-tabsArea {
	margin-top: 1em;
	border-bottom: 1px solid #e9e9e9
}
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result,.gsc-webResult.gsc-result {
	padding: .25em;
	border: 1px solid;
	border-color: #ffffff;
	margin-bottom: 1em
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover,.gsc-webResult.gsc-result:hover {
	border: 1px solid;
	border-color: #FFFFFF
}
/*Promotion Settings*/
/* The entire promo */
.cse .gs-promotion.gs-result,.gs-promotion.gs-result {
	background-color: #FFFFFF;
	border: 1px solid;
	border-color: #336699
}
/* Promotion image */
.cse .gs-promotion.gs-result .gs-promotion-image,.gs-promotion.gs-result .gs-promotion-image
	{
	
}
/* Promotion title */
.cse .gs-promotion.gs-result a.gs-title:link,.gs-promotion.gs-result a.gs-title:link
	{
	color: #0000CC
}

.cse .gs-promotion.gs-result a.gs-title:visited,.gs-promotion.gs-result a.gs-title:visited
	{
	color: #0000CC
}

.cse .gs-promotion.gs-result a.gs-title:hover,.gs-promotion.gs-result a.gs-title:hover
	{
	color: #0000CC
}

.cse .gs-promotion.gs-result a.gs-title:active,.gs-promotion.gs-result a.gs-title:active
	{
	color: #0000CC
}
/* Promotion snippet */
.cse .gs-promotion.gs-result .gs-snippet,.gs-promotion.gs-result .gs-snippet
	{
	color: #000000
}
/* Promotion url */
.cse .gs-promotion.gs-result .gs-visibleUrl,.gs-promotion.gs-result .gs-visibleUrl
	{
	color: #008000
}
/* Style for auto-completion table
 * .gsc-completion-selected:styling for a suggested query which the user has moused-over
 * .gsc-completion-container:styling for the table which contains the completions
 */
.gsc-completion-selected {
	background: #D5E2FF
}

.gsc-completion-container {
	font-family: Arial, sans-serif;
	font-size: 13px;
	position: absolute;
	background: white;
	border: 1px solid #666666;
	margin-left: 0;
	margin-right: 0; /* The top,left,and width are set in JavaScript. */
}

/* Full URL */
.gs-webResult.gs-result .gs-visibleUrl-short {
	display: none
}

.gs-webResult.gs-result .gs-visibleUrl-long {
	display: block
}

/*Custom Google Search*/
.gsc-control-cse {
	font-family: Verdana, sans-serif !important;
	border-color: #CCCCCC;
	background-color: #FFFFFF
}

input.gsc-input {
	border-color: #BCCDF0
}

input.gsc-search-button {
	border-color: #336699;
	background-color: #E9E9E9
}

.gsc-tabHeader.gsc-tabhInactive {
	border-color: #E9E9E9;
	background-color: #E9E9E9
}

.gsc-tabHeader.gsc-tabhActive {
	border-top-color: #FF9900;
	border-left-color: #E9E9E9;
	border-right-color: #E9E9E9;
	background-color: #FFFFFF
}

.gsc-tabsArea {
	border-color: #E9E9E9
}

.gsc-webResult.gsc-result {
	border-color: #FFFFFF;
	background-color: #FFFFFF
}

.gsc-webResult.gsc-result:hover {
	border-color: #FFFFFF;
	background-color: #f0f0f0
}

.gs-webResult.gs-result a.gs-title:link,.gs-webResult.gs-result a.gs-title:link b
	{
	color: #186F9C
}

.gs-webResult.gs-result a.gs-title:visited,.gs-webResult.gs-result a.gs-title:visited b
	{
	color: #186F9C
}

.gs-webResult.gs-result a.gs-title:hover,.gs-webResult.gs-result a.gs-title:hover b
	{
	color: #186F9C
}

.gs-webResult.gs-result a.gs-title:active,.gs-webResult.gs-result a.gs-title:active b
	{
	color: #186F9C
}

.gsc-cursor-page {
	color: #186F9C
}

a.gsc-trailing-more-results:link {
	color: #186F9C
}

.gs-webResult.gs-result .gs-snippet {
	color: #000000
}

.gs-webResult.gs-result .gs-visibleUrl {
	color: #000
}

.gs-webResult.gs-result .gs-visibleUrl-short {
	color: #999999
}

.gs-webResult.gs-result .gs-visibleUrl-short {
	display: none
}

.gs-webResult.gs-result .gs-visibleUrl-long {
	display: block
}

.gsc-cursor-box {
	border-color: #FFFFFF
}

.gsc-results .gsc-cursor-page {
	border-color: #E9E9E9;
	background-color: #FFFFFF
}

.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
	border-color: #FF9900;
	background-color: #FFFFFF
}

.gs-promotion.gs-result {
	border-color: #336699;
	background-color: #FFFFFF
}

.gs-promotion.gs-result a.gs-title:link {
	color: #0000CC
}

.gs-promotion.gs-result a.gs-title:visited {
	color: #0000CC
}

.gs-promotion.gs-result a.gs-title:hover {
	color: #0000CC
}

.gs-promotion.gs-result a.gs-title:active {
	color: #0000CC
}

.gs-promotion.gs-result .gs-snippet {
	color: #000000
}

.gs-promotion.gs-result .gs-visibleUrl,.gs-promotion.gs-result .gs-visibleUrl-short
	{
	color: #008000
}

.gsc-search-box {
	display: none
}

#gsc-loading-id {
	padding: 20px 0
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */