<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="JwdEjbWyklad2EJB">
        <wb-resource deploy-path="/" source-path="/ejbModule" tag="defaultRootSource"/>
        <property name="java-output-path" value="/JwdEjbWyklad2EJB/build/classes"/>
        <property name="ClientProject" value="JwdEjbWyklad1EJBClient"/>
        <property name="ClientJARURI" value="JwdEjbWyklad1EJBClient.jar"/>
    </wb-module>
</project-modules>
